body {
    font-weight: 500;
    background-color: transparent;
}

.main-message-user {
    position: relative;
}

.title-message-user {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #e84393 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 9;
}

.wrap-avt {
    margin-left: 10px;
}

.wrap-avt img {
    height: 33px;
    width: 33px;
}

.wrap-avt {
    margin-left: 10px;
}

.wrap-avt img {
    height: 33px;
    width: 33px;
}

.title_note {
    font-size: 10px;
}

.wrap-title {
    margin-left: -25px;
}

.wrap-title span:nth-child(1) {
    font-size: 15px;
    color: white;
    margin-bottom: 10px;
}

.wrap-title span:nth-child(3)::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #4bdd6d;
    border-radius: 50%;
    margin-right: 5px;
}

.wrap-title span:nth-child(4) {
    font-size: 13px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    margin-left: -5px;
}

.wrap-avt img:nth-child(2) {
    position: relative;
    left: -18px;
    z-index: -2;
}

.wrap-avt img:nth-child(3) {
    position: relative;
    left: -36px;
    z-index: -3;
}

.control-message-user {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    height: 55px;
    width: 100%;
    border-top: 2px solid #a0a0a0;
    padding: 10px;
    display: flex;
    z-index: 9;
    font-size: 14px;
    font-weight: 700;
}

.control-message-user input {
    width: 100%;
    height: 100%;
    border: unset;
    color: black;
    font-weight: 500;
    font-size: 16px;
    font-weight: bolder !important;
    color: #333 !important;
}

.volume {
    margin-right: 10px;
}

.volume i {
    color: white;
}

.control-message-user input:active,
.control-message-user input:focus {
    outline: none;
    border: none;
}

.control-message-user button {
    outline: none;
    border: none;
    background-color: unset;
}

.control-message-user button svg {
    background-color: none;
    fill: rgb(74, 74, 74);
}

.show-message-user {
    height: 100vh;
    overflow-y: auto;
    padding: 63px 10px 57px 10px;
    font-weight: 500;
    background-color: white;
}